IDENTITY_SERVICE_HOST=0.0.0.0
IDENTITY_SERVICE_PORT=:8080

IDENTITY_SERVICE_CONN_URI=mongodb://172.31.44.186:27017
IDENTITY_SERVICE_DB=identityservice
IDENTITY_SERVICE_REFRESH_PRIVATE_KEY=./refresh-private.pem
IDENTITY_SERVICE_ACCESS_PRIVATE_KEY=./access-private.pem
IDENTITY_SERVICE_REFRESH_PUBLIC_KEY=./refresh-public.pem
IDENTITY_SERVICE_ACCESS_PUBLIC_KEY=./access-public.pem
GRPC_PORT=:5000

