IDENTITYSERVICE_HOST #Host for router
IDENTITYSERVICE_PORT #Port for router

IDENTITYSERVICE_CONN_URI #Database connection URI
IDENTITYSERVICE_DB #Database name
IDENTITYSERVICE_REFRESH_PRIVATE_KEY #Path to refresh token private key
IDENTITYSERVICE_ACCESS_PRIVATE_KEY #Path to access token private key
